# Database Configuration
DATABASE_URL=postgresql://user:password@db:5432/canchaya
POSTGRES_DB=canchaya
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Application Configuration
NODE_ENV=production

# Backend URL for Frontend
VITE_BACKEND_URL=http://backend:3000
